/Test
/.cproject
/.project
/.autotools
/.settings
aclocal.m4
ar-lib
*.cache
*.log
/compile
/config.*
/configure
/configure.scan
/depcomp
/install-sh
/libtool
/ltmain.sh
/src/mtfmag  
/m4
missing
.dirstamp
*.o
*.a
Makefile.in
Makefile
.deps
/MyDebug
/Debug
